# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Database (Drizzle)
DATABASE_URL=

# AI
OPENAI_API_KEY=
ANTHROPIC_API_KEY=

# Uploads
UPLOADTHING_SECRET=
UPLOADTHING_APP_ID=

# Email
RESEND_API_KEY=

# Liveblocks
LIVEBLOCKS_SECRET_KEY=

